
<h1 class="page-header">Members</h1>
<div class="panel-body">
  <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Description</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td><%= member.id %></td>
                <td><%= member.email %></td>
                <td>
                  <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i></button>
                  <button type="button" disabled="disabled" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></button>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
  </div>
  <!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
